@tailwind base;
@tailwind components;
/* @tailwind utilities; */

html, body {
  margin: 0;
  padding: 0;
  /* font-family: "montserrat", sans-serif; */
  font-family: "space grotesk", sans-serif;

  background: linear-gradient(to bottom left, #063064, #0a192fd7) !important;

  color: #F6ECE3;
}

list {
  list-style-type: disc;
}

li {
  /* remove style */
  list-style-type: none;

}